.circle{
    border-radius:35px;
    border: 1px solid black;
    width: 15px;
    height:15px;
    display: block;
    margin-left:5px;
    margin-right:5px;
}

.solidCircle{
    border-radius:35px;
    border: 1px solid black;
    width: 15px;
    height:15px;
    display: block;
    margin-left:5px;
    background-color: black;
}
.option{
    display: inline-flex;
}
.responseGrade li{
    border: 1px solid black;
}
.responseGrade{
    width:180px;
}